/* General Styles */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,600italic,300,600);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700);

*
{
	margin: 0;
	padding: 0;
	font-size: 11pt;
	font-family: 'Open Sans', Arial, Sans-Serif;
	font-weight: 300;
}

body 
{
	background-color: #efefef;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/WebSymbols-Regular-webfont.eot');
    src: url('../fonts/WebSymbols-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/WebSymbols-Regular-webfont.woff') format('woff'),
         url('../fonts/WebSymbols-Regular-webfont.ttf') format('truetype'),
         url('../fonts/WebSymbols-Regular-webfont.svg#WebSymbolsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'HeydingsCommonIconsRegular';
    src: url('../fonts/heydings_icons-webfont.eot');
    src: url('../fonts/heydings_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/heydings_icons-webfont.woff') format('woff'),
         url('../fonts/heydings_icons-webfont.ttf') format('truetype'),
         url('../fonts/heydings_icons-webfont.svg#HeydingsCommonIconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* -------------------------- */

/* Login Page Styles */

/* -------------------------- */

/* Heading Styles */

h2
{
	text-align: left;
	width: 100%;
	margin: 0 auto;
	font-size: 25pt;
	padding-bottom: 10px;
	border-bottom: 1px solid #c6c6c6;
}

h1
{
	font-family: 'Open Sans Condensed', Arial, Sans-Serif;
	float: left;
	font-size: 20pt;
	margin-top: 10px;
	font-weight: bold;
	color: white;
}

/* Container Styles */

section#container
{
	
	width: 900px;
	position: relative;
	margin: 0 auto;
	padding-top: 50px;
}

section#topContainer
{
	width: 900px;
	margin: 0 auto;
}

section#bottomContainer
{
	width: 218px;
	margin: 0 auto;
}

/* Sections Styles */

header
{
	height: 60px;
	background-color: #222;
	border-bottom: 1px solid #fff;
}

footer
{
	width: 100%;
	height: 40px;
	position: absolute;
	bottom: 0;
	left: 0;
	text-align: center;
	background-color: #BFBFBF;
	border-top: 1px solid #999;
}

footer#sticky
{
	width: 100%;
	height: 40px;
	position: relative;
	text-align: center;
	background-color: #BFBFBF;
	border-top: 1px solid #999;
	margin-top: 50px;
}

footer p 
{
	font-size: 8pt;
	float: left;
	padding-top: 10px;
}

/* FORM Styles */

form
{
	width: 429px;
	margin: 0 auto;
	border: none;
	padding-top: 40px;
}

::-webkit-input-placeholder {
   color: #c6c6c6;
}

:-moz-placeholder {  
   color: #c6c6c6;  
}

input
{
	width: 408px;
	margin-bottom: 5px;
    border: 1px solid #c6c6c6;
	padding: 10px;
	outline: none;
	color: #777;
}

input.error
{
	border: 1px solid #aa3333;
}

input:focus, div.wrapper:focus, textarea:focus
{
	border: 1px solid rgba(81, 203, 238, 1);
	box-shadow: 0 0 3px rgba(81, 203, 238, 1);
}

input.error:focus
{
	box-shadow: 0 0 3px #FF3019;
	border: 1px solid #BC3838;
}

fieldset.first
{
	padding-top: 20px;
	border: none;
	border-top: 1px solid white;
}

fieldset
{
	border: none;
	padding-top: 15px;
}

label
{
	display: block;
	padding-bottom: 5px;
}

#signBtn, #searchBtn, #clientBtn, #devBtn
{
	width: 120px;
	float: right;
	position: relative;
	font-size: 10pt;
	font-weight: bold;
	cursor: pointer;
	color: #222;

	background-color: #91e842;
	background: -moz-linear-gradient(top, #91e842, #6AA830 50%, #63A02E 50%, #5D992C);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #91e842), color-stop(.5, #6AA830), color-stop(.5, #63A02E), to(#5D992C));

	border: 1px solid #A5F747;
	border-top: 1px solid white;

	box-shadow: 0 1px 1px black;
	-webkit-box-shadow: 0 1px 1px black;

}

p.error
{
	font-size: 8pt;
	color: white;
	background-color: #aa3333;
	padding: 10px;
	margin-top: 5px;
}

/* Links Styles */

a#register, a#signIn
{
	display: block;
	float: right;
	margin: 15px 0px 0 0px;
	text-decoration: none;
	line-height: 30px;
	border: none;
	color: white;
	cursor: pointer;
	font-size: 10pt;
	font-weight: bold;
	-webkit-transition:color 0.3s ease-in;
}

a#signIn
{
	padding-right: 10px;
}

a#register
{
	color: #91e842;
	border-left: 1px solid #333;
	padding-left: 10px;
}

/* -------------------------- */

/* Register Form Styles */

/* -------------------------- */

form#registerClient
{
	position: relative;
	margin-left: 0;
	border-color: #999; 
	padding-right: 20px;
	border-right: 1px solid #c6c6c6;
}

form#registerDev
{
	padding-left: 20px;
	position: absolute;
	top: 50px;
	right: 0;
	border-left: 1px solid white;
}

/* -------------------------- */

/* Login Page Styles */

/* -------------------------- */

p#welcome
{
	text-align: center;
	font-size: 20pt;
}

p#welcomeMessage
{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 10px;
}

/* -------------------------- */

/* Dropdown Styles */

/* -------------------------- */

.wrapper {
    /* Size and position */
    position: relative; /* Enable absolute positioning for children and pseudo elements */
    width: 408px;
    padding: 10px;
    margin-bottom: 5px;
    color: #c6c6c6;
 
    /* Styles */
    background: #fff;
    border: 1px solid #c6c6c6;
    cursor: pointer;
    outline: none;
}

/* Arrow */
.wrapper:after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    right: 16px;
    top: 50%;
    margin-top: -3px;
    border-width: 6px 6px 0 6px;
    border-style: solid;
    border-color: #c6c6c6 transparent;
}

.wrapper .dropdown {
  /* Size & position */
    width: 428px;
    position: absolute;
    top: 100%;
    right: 0px;
    left: -1px;
    border-bottom: 1px solid rgba(81, 203, 238, 1);
    border-left: 1px solid rgba(81, 203, 238, 1);
    border-right: 1px solid rgba(81, 203, 238, 1);
 
    /* Styles */
    background: white;
    transition: all 0.3s ease-out;
    list-style: none;
 
    /* Hiding */
    opacity: 0;
    pointer-events: none;
}

.wrapper .dropdown li a {
    display: block;
    text-decoration: none;
    color: #c6c6c6;
    padding: 10px;
    transition: all 0.3s ease-out;
}
 
.wrapper .dropdown li:nth-child(1) a { 
    border-bottom: 1px solid #EDEDED;
    border-top: 1px solid #EDEDED;
}
 
/* Hover state */
 
.wrapper .dropdown li:hover a {
    color: #777;
}
 
.wrapper.active .dropdown {
    opacity: 1;
    pointer-events: auto;
}

