/* -------------------------- */

/* Results Page Styles */

/* -------------------------- */

/* List Styles */

ol
{
	list-style: none;
	padding-bottom: 165px;
}

ol li 
{
	width: 100%;
	background-color: #C9C9C9;
	margin-bottom: 40px;
	border: 1px solid #EDEDED;
	border-top: 1px solid white;
	box-shadow: 0 1px 3px #7C7C7C;
}

/* Link Styles */

a.head
{
	display: block;
	width: 880px;
	background-color: #EAEAEA;
	padding: 10px;
	border-bottom: 1px solid #595959;
	text-decoration: none;
	color: #222;
} 

a.head:hover
{
	background-color: #91e842;
}


a.head span.avatar
{
	float: left;
	width: 40px;
	height: 40px;
	background-color: white;
	margin-right: 10px;
	box-shadow: 0 1px 2px #797979;
}

a.head p.name
{
	font-size: 11pt;
	font-weight: bold;
}

a.head p.location
{
	font-size: 11pt;
	float: right;
	margin-top: -40px;
	opacity: 0.5;
}

a.head p.rating
{
	float: right;
	color: #222;
	margin-top: -20px;
	opacity: 0.9;
}

a.head p.skills
{
	font-size: 9pt;
	margin: 2px;
}

/* Content Styles */

section.body p 
{
	font-size: 10pt;
	padding: 10px;
	border-top: 1px solid white;
	color: #222;
}
